<div class="row">
    <div class="col-md-12">
<h4>

  <a href ="https://docs.google.com/document/d/1H31bC6bqD0sz9d8wnCtOhD8q2fe5CDiSTzyAFpjboo8/edit?usp=sharing" target="_blank">Resume</a> <b>//</b> <a href="http://berks.psu.edu/sites/default/files/campus/RF_Chachaj.pdf" target="_blank">Publication</a>
</h4>
<br>
	</div>
	</div>

<div class="row">
    <div class="col-md-12">
<h5>
<br>
  <a href="#">Portfolio; (coming soon)</a>
</h5>
	</div>

<div class="row">
	<div class="col-md-4 port">X</div>
	<div class="col-md-4 port">Y</div>
	

</div>
<div class="row">
	<div class="col-md-4 port">X</div>
	<div class="col-md-4 port">Y</div>
	

</div>
