
<div class="navbar">
<div class="row">
	<div class="col-md-12">
    <ul class="nav nav-pills">
    	<li role ="presentation"><a id="logo"><b>Ben Chachaj</b></a></li>
   		 <li role ="presentation">
    	<a class="nav-link" href="http://github.com/bchachaj"><i class="fa fa-github " aria-hidden="true"></i></a></li>
		<li role ="presentation">
    	<a class="nav-link" href="http://linkedin.com/in/benchachaj"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        
    </ul>
	</div>
</div>
</div>


<!--/.nav-collapse -->
