<div class="body">
  <div class="feature-header">
  <div class="left">
  <div class="row">
    <div class="col-md-12">
      <h3 id="logo">Ben Chachaj</h3>
      <h4>Full Stack Web Developer</h4>
      <h6><a href="https://docs.google.com/document/d/1HpdBfvF6_bFmgMOFS8BW2d_viAmB5ee-lHlhHHfM9BM/edit?usp=sharing">Resume</a></h6>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="muted">JavaScript <b>/</b> React <b>/</b> Redux <b>/</b> Vue <b>/</b> jQuery  
      <h5 class=muted>
      DOM <b>/</b> HTML <b>/</b> CSS  
      </h5>
     </h5>   
     <h5 class="muted">Ruby on Rails <b>/</b> Ruby <b>/</b> SQL <b>/</b> RSpec 
     </h5>    
     <h5 class="muted">Wordpress <b>/</b> Drupal</h5>
     <h5 class="muted">Webpack <b>/</b> Git <b>/</b> Bootstrap <b>/</b> Sketch
     </h5>


      <br>
    </div>
  </div>
  </div>
 
  <div class="right">
  <div class="row">

    <div class="col-md-12 profile-pic">
      <span class="profile">
        <img src="./../../assets/images/profile.jpeg" alt="">

      </span>
    </div>


    <div class="col-md-12">
    <h6><span class="muted">About me:</span> I have a degree in Information Systems, and truly enjoy programming. I have found the process of designing an extensible and cleanly-written program to be a passion of mine, and look forward to the interesting projects still in my future. <br>
    <br>
    <br>
    Want to reach out? Shoot me an email @ <a href="mail-to:ben.chachaj@gmail.com"> ben.chachaj@gmail.com</a>
    </h6>
    </div>


  </div>
  </div>
   </div>
  <div class='feature-container'>
    <div class="row">
      <div class="col-md-4 port">
        <div class="feature">
          <h5>Visynth</h5>
          <img src="./../../assets/images/visualizer.png" class="feature-pic">
          <div class="feature-about">
            <p>Audio visualizer built with Three.js and the Web Audio API.</p>
            <span class="feature-about-links">

                    <a href="https://visynth-b57cd.firebaseapp.com">Link</a>
                    <a href="https://github.com/bchachaj/visynth">Github</a>
                </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 port">
        <div class="feature">
          <h5>The Event Ambassadors</h5>
          <img src="./../../assets/images/event.png" class="feature-pic">
          <div class="feature-about">
            <p>The Event Ambassadors is a startup that connects customers with an online platform to select vendors for their next event.</p>
            <span class="feature-about-links">
                    <a href="http://www.theeventambassadors.com">Link</a>
                </span>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4 port">
          <div class="feature">
            <h5>Denote</h5>
            <img src="./../../assets/images/denote.png" class="feature-pic">
            <div class="feature-about">
              <p>Note categorization application based on Evernote. User authentication, Rich text editing and Autosave enabled.</p>
              <span class="feature-about-links">
                    <a href="http://denote.herokuapp.com">Link</a>
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 port">
          <div class="feature">
            <h5>DomTrawler.js</h5>
            <img src="./../../assets/images/trawler.png" class="feature-pic">
            <div class="feature-about">
              <p>A lightweight DOM traversal library.</p>
              <span class="feature-about-links">
                  <a href="https://github.com/bchachaj/DOM-Trawler">Link</a>
                </span>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4 port">
          <div class="feature">
            <h5>LMR Roofing and Siding</h5>
            <img src="./../../assets/images/lmr.png" class="feature-pic">
            <div class="feature-about">
              <p>Home contracting company based out of Connecticut. Built on Wordpress.</p>
              <span class="feature-about-links">
                   <a href="http://www.lmrroofingandsiding.com">Link</a>
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 port">
          <div class="feature">
            <h5>Codepen.io</h5>
            <img src="./../../assets/images/codepen.png" class="feature-pic">
            <div class="feature-about">
              <p>Some simple exercises in DOM manipulation.</p>
              <span class="feature-about-links">
                   <a href="https://codepen.io/benediah/">Link</a>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>