<div class="body">
    <div class="row">
        <div class="col-md-12">
            <h4>Information Systems <b>//</b> Business Solutions</h4>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="muted">"I will find a way, or I will make it."</h5>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        	<br>
            <h6>Connect with me on <a href=
            "http://www.linkedin.com/in/benchachaj">LinkedIn</a></h6>
        </div>
    </div>
</div>
