<div class="body">
  <div class="feature-header">
    <div class="left">
      <div class="row">
        <div class="col-md-12">
          <h3 id="logo">Ben Chachaj</h3>
          <h4>Front End Developer</h4>
          <h6><a href="https://docs.google.com/document/d/1585R6gfSn3UGQ6sqv4PIGG2gE2rHXTKgxGozN0wjJm4">Resume</a></h6>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6 class="muted">JavaScript <b>/</b> React <b>/</b> Redux <b>/</b> Vue <b>/</b> jQuery
      <h6 class=muted>
      DOM <b>/</b> HTML <b>/</b> CSS
    </h6>
  </h6>
          <h6 class="muted">Ruby on Rails <b>/</b> Ruby <b>/</b> SQL <b>/</b> RSpec
     </h6>
          <h6 class="muted">Wordpress <b>/</b> Drupal</h6>
          <h6 class="muted">Webpack <b>/</b> Git <b>/</b> Bootstrap <b>/</b> Sketch
     </h6>
          <br>
          <h6 class="learning"> Currently learning:  Node <b>/</b> Mongo <b>/</b> AWS
     </h6>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="row">
        <div class="col-md-12 profile-pic">
          <span class="profile">
        <img src="./../../assets/images/profile.jpeg" alt="">

      </span>
        </div>
        <div class="col-md-12">
          <h6><span class="muted">About me:</span> I have a degree in Information Systems, and truly enjoy programming. I have found the process of designing an extensible and cleanly-written program to be a passion of mine, and look forward to the interesting projects still in my future. <br>
    <br>
    <br>
    Want to reach out? Shoot me an email @ <a href="mail-to:ben.chachaj@gmail.com"> ben.chachaj@gmail.com</a>
    </h6>
        </div>
      </div>
    </div>
  </div>
  <div class='feature-container'>
    <div class="row">
      <div class="col-md-4 port">
        <a class="feature-link" href="https://visynth-b57cd.firebaseapp.com">
          <div class="feature">
            <h5>Visynth</h5>
            <img src="./../../assets/images/visualizer.png" class="feature-pic">
            <div class="feature-about">
              <p>Audio visualizer built with Three.js and the Web Audio API.</p>
              <span class="feature-about-links">

                    <a href="https://visynth-b57cd.firebaseapp.com">Link</a>
                    <a href="https://github.com/bchachaj/visynth">Github</a>
                </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 port">
        <a class="feature-link" href="http://www.theeventambassadors.com">
          <div class="feature">
            <h5>The Event Ambassadors</h5>
            <img src="./../../assets/images/event.png" class="feature-pic">
            <div class="feature-about">
              <p>Built front end of a platform that connect consumers with event service vendors</p>
              <span class="feature-about-links">
                    <a href="http://www.theeventambassadors.com">Link</a>
                </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 port">
        <a class="feature-link" href="http://denote.herokuapp.com">
          <div class="feature">
            <h5>Denote</h5>
            <img src="./../../assets/images/denote.png" class="feature-pic">
            <div class="feature-about">
              <p>Note categorization application based on Evernote. User authentication, Rich text editing and Autosave enabled.</p>
              <span class="feature-about-links">
                    <a href="http://denote.herokuapp.com">Link</a>
                     <a href="https://github.com/bchachaj/denote">Github</a>
                </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 port">
        <a class="feature-link" href="https://github.com/bchachaj/bit-graph">
          <div class="feature">
            <h5>D3 graph in React</h5>
            <img src="./../../assets/images/bitgraph.png" class="feature-pic">
            <div class="feature-about">
              <p>Query Bitcoin price data from api, save to database and render in svg.</p>
              <span class="feature-about-links">
                   <a href="https://bit-graph.herokuapp.com">Live Link</a>
                   <a href="https://github.com/bchachaj/bit-graph/">Github Link</a>
                </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 port">
        <a class="feature-link" href="https://github.com/bchachaj/DOM-Trawler">
          <div class="feature">
            <h5>DomTrawler.js</h5>
            <img src="./../../assets/images/trawler.png" class="feature-pic">
            <div class="feature-about">
              <p>A lightweight DOM traversal library.</p>
              <span class="feature-about-links">
                  <a href="https://github.com/bchachaj/DOM-Trawler">Link</a>
                </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 port">
        <a class="feature-link" href="https://codepen.io/benediah">
          <div class="feature">
            <h5>Codepen.io</h5>
            <img src="./../../assets/images/codepen.png" class="feature-pic">
            <div class="feature-about">
              <p>Some simple exercises in DOM manipulation.</p>
              <span class="feature-about-links">
                   <a href="https://codepen.io/benediah/">Link</a>
                </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 port pull-left">
        <a class="feature-link" href="http://www.lmrroofingandsiding.com">
          <div class="feature">
            <h5>LMR Roofing and Siding</h5>
            <img src="./../../assets/images/lmr.png" class="feature-pic">
            <div class="feature-about">
              <p>Home contracting company based out of Connecticut. Built on Wordpress.</p>
              <span class="feature-about-links">
                   <a href="http://www.lmrroofingandsiding.com">Link</a>
                </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
