/* You can add global styles to this file, and also import other style files */



app-main {
  position: relative;
}

.row {
  position: relative;
  width: 100vw;
}

.body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  overflow-x: hidden !important;
}

.row {
  margin: 0 auto;
}

a {
  z-index: 99;
  padding-top: 0px;
}

a:hover {
  cursor: pointer !important;
}

body {
  font-size: 16px;

}

body p {
  line-height: 1.5;
}


.feature-link:hover {
  background: none;
}

h6.learning {
  color: white;
  padding:3px;
  border-radius:2px;
  background: gray;
}
